{% extends 'flatpages/default.html' %}
{% load cache_example_filters %}

{% block content %}

<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

{% if is_not_author %}
<button><a href="sign/upgrade/">Стать автором</a> </button>
{% endif %}

<!--<button><a href="sign/logout">Выйти</a> </button> -->
<br>
<br>
<a href="/news/">Новости</a>
<a href="/articles/">Статьи</a>
<br>
<br>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Выйти</button>
</form>


{% load cache %}
        {% cache 60 cache_example %}
            {{ 2|pow:113111221|short }}
        {% endcache %}
{% endblock %}